In [6]:
import pandas as pd
import pymssql as sql
import pyodbc as pod

In [2]:
Shipping = pd.read_json('D:/PEI Data Analysis task/Shipping.json')
Order = pd.read_csv('D:/PEI Data Analysis task/Order.csv')
Customer = pd.read_excel('D:/PEI Data Analysis task/Customer.xls')

In [7]:
Shipping.head()

   Shipping_ID     Status  Customer_ID
0            1    Pending          173
1            2    Pending          155
2            3  Delivered          242
3            4    Pending          223
4            5  Delivered           72

In [8]:
Order.head()

   Order_ID      Item  Amount  Customer_ID
0         1  Keyboard     400          139
1         2     Mouse     300          250
2         3   Monitor   12000          239
3         4  Keyboard     400          153
4         5  Mousepad     250          153

In [9]:
Customer.head()

   Customer_ID    First     Last  Age Country
0            1   Joseph     Rice   43     USA
1            2     Gary    Moore   71     USA
2            3     John   Walker   44      UK
3            4     Eric   Carter   38      UK
4            5  William  Jackson   58     UAE

Missing date columns on orders and shipping.
Shipping doesnt have OrderID to check the status of the order. One customer may have more than 1 order.

In [13]:
#Checking for NULL values on the datasets
print('\r\n-------\r\nCustomer\r\n-------\r\n',Customer.isnull().sum())
print('\r\n-------\r\nOrder\r\n-------\r\n',Order.isnull().sum())
print('\r\n-------\r\nShipping\r\n-------\r\n',Shipping.isnull().sum())

# No null values observed

-------
Customer
-------
 Customer_ID    0
First          0
Last           0
Age            0
Country        0
dtype: int64

-------
Order
-------
 Order_ID       0
Item           0
Amount         0
Customer_ID    0
dtype: int64

-------
Shipping
-------
 Shipping_ID    0
Status         0
Customer_ID    0
dtype: int64

In [10]:
#connecting to DB to insert data to SQL

def ins_conn_db(df):
    server = 'DESKTOP-JAPNGMO'
    database = 'DataAnalytics'
    conn = pod.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes')
    try:
        cursor = conn.cursor()
        print('Connection Success')
        conn.commit()
    except:
        print('Connection fail')
    conn.close()